## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
app_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [26]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_values = app_df['APPLICATION_TYPE'].value_counts()
app_values

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_values[app_values<300].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_values = app_df['CLASSIFICATION'].value_counts()
classification_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1732        1
C2170        1
C1900        1
C2570        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class2_values = classification_values.loc[classification_values>1]
class2_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C3200        2
C1256        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_values[classification_values<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
numeric_df = pd.get_dummies(app_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X= numeric_df.drop(['IS_SUCCESSFUL'], axis=1)
y= numeric_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)
X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu', input_dim=(len(X_train_scaled[0]))))
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2023-08-02 11:52:57.746099: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2023-08-02 11:52:57.749418: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 4. Tune using inter_op_parallelism_threads for best performance.

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 6s 224us/sample - loss: 0.5910 - accuracy: 0.7023
Epoch 2/50
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5597 - accuracy: 0.7273
Epoch 3/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5554 - accuracy: 0.7300
Epoch 4/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5536 - accuracy: 0.7306
Epoch 5/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5520 - accuracy: 0.7320
Epoch 6/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5507 - accuracy: 0.7322
Epoch 7/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5494 - accuracy: 0.7324
Epoch 8/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5488 - accuracy: 0.7324
Epoch 9/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5484 - accuracy: 0.7330
Epoch 10/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5481 - accuracy: 0.7325
Epoch 11/50
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5472 - accuracy: 0.7325
Epoch 12/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5470 - accuracy: 0.7330
Epoch 13/50
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5465 - accuracy: 0.7340
Epoch 14/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5464 - accuracy: 0.7337
Epoch 15/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5463 - accuracy: 0.7327
Epoch 16/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5458 - accuracy: 0.7331
Epoch 17/50
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5453 - accuracy: 0.7338
Epoch 18/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5456 - accuracy: 0.7328
Epoch 19/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5449 - accuracy: 0.7339
Epoch 20/50
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5450 - accuracy: 0.7336
Epoch 21/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5446 - accuracy: 0.7341
Epoch 22/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5447 - accuracy: 0.7332
Epoch 23/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5450 - accuracy: 0.7339
Epoch 24/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5443 - accuracy: 0.7332
Epoch 25/50
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5445 - accuracy: 0.7341
Epoch 26/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5436 - accuracy: 0.7352
Epoch 27/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5444 - accuracy: 0.7328
Epoch 28/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5441 - accuracy: 0.7345
Epoch 29/50
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5438 - accuracy: 0.7340
Epoch 30/50
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5436 - accuracy: 0.7347
Epoch 31/50
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5434 - accuracy: 0.7358
Epoch 32/50
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5434 - accuracy: 0.7354
Epoch 33/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5433 - accuracy: 0.7357
Epoch 34/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5433 - accuracy: 0.7347
Epoch 35/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5436 - accuracy: 0.7351
Epoch 36/50
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5434 - accuracy: 0.7357
Epoch 37/50
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5429 - accuracy: 0.7365
Epoch 38/50
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5427 - accuracy: 0.7369
Epoch 39/50
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5430 - accuracy: 0.7354
Epoch 40/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5425 - accuracy: 0.7361
Epoch 41/50
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5429 - accuracy: 0.7355
Epoch 42/50
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5428 - accuracy: 0.7360
Epoch 43/50
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5425 - accuracy: 0.7356
Epoch 44/50
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5425 - accuracy: 0.7361
Epoch 45/50
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5423 - accuracy: 0.7362
Epoch 46/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5423 - accuracy: 0.7369
Epoch 47/50
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5423 - accuracy: 0.7364
Epoch 48/50
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5420 - accuracy: 0.7365
Epoch 49/50
25724/25724 [==============================] - 4s 161us/sample - loss: 0.5420 - accuracy: 0.7356
Epoch 50/50
25724/25724 [==============================] - 4s 163us/sample - loss: 0.5425 - accuracy: 0.7363
8575/1 - 1s - loss: 0.5542 - accuracy: 0.7272
Loss: 0.554791986705958, Accuracy: 0.7272303104400635

In [21]:
filename = '/Users/willmcdonald/Documents/Github/deep-learning-challenge/h5_files/optimization1.h5'
nn_model.save(filename)