## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
app_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [26]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_values = app_df['APPLICATION_TYPE'].value_counts()
app_values

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_values[app_values<300].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_values = app_df['CLASSIFICATION'].value_counts()
classification_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1732        1
C2170        1
C1900        1
C2570        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class2_values = classification_values.loc[classification_values>1]
class2_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C3200        2
C1256        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_values[classification_values<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
numeric_df = pd.get_dummies(app_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X= numeric_df.drop(['IS_SUCCESSFUL'], axis=1)
y= numeric_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)
X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

## Compile, Train and Evaluate the Model

In [24]:
# Model #3
# In this model, I tried to change the activation types to see if that would make accuracy higher

nn_model3 = tf.keras.models.Sequential()

# First hidden layer
nn_model3.add(tf.keras.layers.Dense(units=10, activation='relu', input_dim=(len(X_train_scaled[0]))))
nn_model3.add(tf.keras.layers.Dense(units=8, activation='sigmoid'))
nn_model3.add(tf.keras.layers.Dense(units=6, activation='sigmoid'))
nn_model3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


nn_model3.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

fit_model = nn_model3.fit(X_train_scaled, y_train, epochs=50)

model_loss, model_accuracy = nn_model3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 5s 189us/sample - loss: 0.6150 - accuracy: 0.6938
Epoch 2/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5690 - accuracy: 0.7302
Epoch 3/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5621 - accuracy: 0.7305
Epoch 4/50
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5589 - accuracy: 0.7311
Epoch 5/50
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5575 - accuracy: 0.7309
Epoch 6/50
25724/25724 [==============================] - 4s 163us/sample - loss: 0.5563 - accuracy: 0.7310
Epoch 7/50
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5555 - accuracy: 0.7318
Epoch 8/50
25724/25724 [==============================] - 5s 176us/sample - loss: 0.5546 - accuracy: 0.7322
Epoch 9/50
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5542 - accuracy: 0.7318
Epoch 10/50
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5536 - accuracy: 0.7318
Epoch 11/50
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5530 - accuracy: 0.7320
Epoch 12/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.5523 - accuracy: 0.7321
Epoch 13/50
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5519 - accuracy: 0.7322
Epoch 14/50
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5515 - accuracy: 0.7314
Epoch 15/50
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5511 - accuracy: 0.7320
Epoch 16/50
25724/25724 [==============================] - 8s 297us/sample - loss: 0.5506 - accuracy: 0.7321
Epoch 17/50
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5503 - accuracy: 0.7331
Epoch 18/50
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5503 - accuracy: 0.7330
Epoch 19/50
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5495 - accuracy: 0.7327
Epoch 20/50
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5491 - accuracy: 0.7338
Epoch 21/50
25724/25724 [==============================] - 6s 216us/sample - loss: 0.5492 - accuracy: 0.7323
Epoch 22/50
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5487 - accuracy: 0.7325
Epoch 23/50
25724/25724 [==============================] - 5s 180us/sample - loss: 0.5486 - accuracy: 0.7329
Epoch 24/50
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5486 - accuracy: 0.7323
Epoch 25/50
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5483 - accuracy: 0.7342
Epoch 26/50
25724/25724 [==============================] - 6s 245us/sample - loss: 0.5484 - accuracy: 0.7317
Epoch 27/50
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5481 - accuracy: 0.7333
Epoch 28/50
25724/25724 [==============================] - 6s 224us/sample - loss: 0.5482 - accuracy: 0.7329
Epoch 29/50
25724/25724 [==============================] - 5s 183us/sample - loss: 0.5478 - accuracy: 0.7326
Epoch 30/50
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5476 - accuracy: 0.7324
Epoch 31/50
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5475 - accuracy: 0.7323
Epoch 32/50
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5475 - accuracy: 0.7329
Epoch 33/50
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5471 - accuracy: 0.7330
Epoch 34/50
25724/25724 [==============================] - 5s 191us/sample - loss: 0.5467 - accuracy: 0.7336
Epoch 35/50
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5468 - accuracy: 0.7335
Epoch 36/50
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5469 - accuracy: 0.7323
Epoch 37/50
25724/25724 [==============================] - 4s 159us/sample - loss: 0.5467 - accuracy: 0.7335
Epoch 38/50
25724/25724 [==============================] - 5s 192us/sample - loss: 0.5466 - accuracy: 0.7335
Epoch 39/50
25724/25724 [==============================] - 4s 167us/sample - loss: 0.5466 - accuracy: 0.7331
Epoch 40/50
25724/25724 [==============================] - 5s 208us/sample - loss: 0.5466 - accuracy: 0.7331
Epoch 41/50
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5464 - accuracy: 0.7332
Epoch 42/50
25724/25724 [==============================] - 4s 161us/sample - loss: 0.5464 - accuracy: 0.7328
Epoch 43/50
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5461 - accuracy: 0.7328
Epoch 44/50
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5463 - accuracy: 0.7321
Epoch 45/50
25724/25724 [==============================] - 6s 221us/sample - loss: 0.5461 - accuracy: 0.7327
Epoch 46/50
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5460 - accuracy: 0.7339
Epoch 47/50
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5460 - accuracy: 0.7326
Epoch 48/50
25724/25724 [==============================] - 7s 283us/sample - loss: 0.5456 - accuracy: 0.7336
Epoch 49/50
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5458 - accuracy: 0.7343
Epoch 50/50
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5456 - accuracy: 0.7326
8575/1 - 1s - loss: 0.5608 - accuracy: 0.7286
Loss: 0.5514346111133565, Accuracy: 0.7286297082901001

In [25]:
filename = '/Users/willmcdonald/Documents/Github/deep-learning-challenge/h5_files/optimization3.h5'
nn_model3.save(filename)